body {
    background: #a9a9a9;
}

section {
    float: left;
    padding: 0 20px;

    .palette {
        padding: 10px;
        background: #949494;
    }
}

#pages,
#employees {

    .item {

        &:hover {
            background: #ffffff;
        }

        .title {
            width: 160px;
            display: inline-block;
        }
    }
}

#page-details,
#employee-details {

    em {
        color: #D8D8D8;
    }
}