body {
    background: #a9a9a9;
}

section {
    float: left;
    padding: 0 20px;
}

#pages {

    .item {

        &:hover {
            background: white;
        }

        .title {
            width: 160px;
            display: inline-block;
        }
    }
}