<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/admin.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script> <!-- 2.0 latest -->
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/admin.js"></script>
</head>
<body>
    <button type="button">pages</button>

    <div id="pages">
        <!-- This area will be filled by JavaScript -->
    </div>

    <script id="tpl-pages" type="text/template">
        {{#pages}}
            <div><a href="{{URL}}">{{title}}</a></div>
        {{/pages}}
    </script>
</body>
</html>