<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/admin.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/admin.js"></script>
</head>
<body>
    <section>
        <div id="modules" class="palette">
            <button type="button" id="xxx">get pages</button>
        </div>
    </section>

    <section id="container-list">
        <!-- This area will be filled by JavaScript -->
    </section>

    <section id="container-item">
        <!-- This area will be filled by JavaScript -->
    </section>

    <script id="tpl-pages" type="text/template">
        <button type="button" class="add">add</button>
        <div class="list"></div>
    </script>

    <script id="tpl-page" type="text/template">
        <span class="title">{{title}}</span>
        <button type="button" class="edit">edit</button>
        <button type="button" class="delete">delete</button>
    </script>

    <script id="tpl-page-details" type="text/template">
        <label>Title *</label><br />
        <input name="title" type="text" value="{{page.title}}" /><br />
        {{#errors.title}}<em>{{.}}</em><br />{{/errors.title}}

        <label>URL *</label><br />
        <input name="URL" type="text" value="{{page.URL}}" /><br />
        {{#errors.URL}}<em>{{.}}</em><br />{{/errors.URL}}

        <label>Text *</label><br />
        <textarea name="body_html" rows="4" cols="30">{{page.body_html}}</textarea><br />
        {{#errors.body_html}}<em>{{.}}</em><br />{{/errors.body_html}}

        <button type="button" class="save">save</button>
    </script>
</body>
</html>