<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/app.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script> <!-- 2.0 latest -->
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <h1>Home page!</h1>
    <a href="/admin/">Go to control panel</a>
</body>
</html>